.Landing {
   
    /* background-size: cover;
    background-repeat: no-repeat;
    background: url("https://us.123rf.com/450wm/sitthiphong/sitthiphong1905/sitthiphong190500157/122180576-woman-typing-keyboard-laptop-and-account-login-screen-on-the-working-in-the-office-on-table-backgrou.jpg?ver=6");
    top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  
  z-index: -1;
  width: 100%;
  position: fixed;
  height: 100%;
  width: 150%;
  margin: 0;
  padding: 0; */
  background-image:url("https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:100vh;
  overflow:auto;
  }
  .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    /* text-align: center;
    color: black;
    margin-left: 5px;
    border-radius: 20px; */
    transform: translate(-50%, -50%);
  }
  .x-large {
    text-align: center;
    color: black;
  }
  .lead {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
  }
  .navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
  }
  .nav-bar{
    list-style: none;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    border-radius: 15px;
    color: black;
    font-family: sans-serif;
    /* background-color: red; */
  }
  .nav-bar > a {
    text-decoration: none;
    padding: 15px 35px;
    display: block;
    text-align: center;
    border-radius: 15px;
  }
  .navbar > :nth-child(1) a {
    color: #ffff;
    border: 2px solid rgb(255, 30, 50, 1);
    background-color: blueviolet;
  }
  .navbar > :nth-child(2) a {
    color: #ffff;
    border: 2px solid rgb(255, 30, 50, 1);
    background-color: blueviolet;
  }
  